<div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
    <% if user.image.attached? %>
        <%= image_tag(user.image, class: "profile-image",  loading: :lazy ) %>
    <% else %>
        <%= image_tag(asset_path("avatarnew.png"), class: "profile-image",  loading: :lazy ) %>
    <% end %>
    <h3><%= user.user_name %>
    <div>
        <%= csrf_meta_tag %>
        <% if current_user_is_following(current_user.id, user.id) %>
          <button class="btn btn-danger" id="<%= user.user_name%>">Unfollow</button>
        <% else%>
            <button class="btn btn-primary" id="<%= user.user_name %>">Follow</button>
        <% end %>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("<%= user.user_name%>").addEventListener('click', () => {
        let btnText = document.getElementById("<%= user.user_name%>").textContent === "Unfollow" ? "unfollow_user" : "follow_user";
        fetch(`/<%= user.user_name%>/${btnText}`, {
            method: "POST",
            headers: {
                'X-CSRF-Token': document.getElementById("<%= user.user_name%>").parentElement.querySelector('meta[name="csrf-token"]').content
            }
        })
        .then(r => r.json())
        .then(d => {
            console.log(d);
            document.getElementById("<%= user.user_name%>").classList.toggle('btn-primary');
            document.getElementById("<%= user.user_name%>").classList.toggle('btn-danger');
            document.getElementById("<%= user.user_name %>").textContent = document.getElementById("<%= user.user_name%>").textContent === "Unfollow" ? 'Follow' : 'Unfollow';

            if ("<%= current_user.user_name%>" === "<%= user.user_name %>") {
                document.getElementById('followers').textContent = d.count === 1 ? `${d.count} follower` : `${d.count ? d.count : 0} followers` 
            }          

        })
    })
</script>