<div class="login-bg">
  <div class="container">
    <div class="row">
      <div >
        <div class="log-in panel">
          <div class="panel-heading">
            <h2>Log in</h2>
          </div>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.error_notification  %>
            <div class="panel-body">
              <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" , class: "input-lg"} %>
              <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password", class: "input-lg" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

            </div>

            <div class="form-actions">
              <%= f.button :submit, "Log in", class: "btn-lg btn-info btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div style="text-align: center; margin-top: 1rem;">
      <%= link_to "Sign up", new_user_registration_path, style: "text-align: center" %>
    </div>
    <div class="container text-center">
      <h3>Or sign in with:</h3>
        <div class="d-flex justify-content-center gap-3">
          <%= button_to(user_google_oauth2_omniauth_authorize_path) do %>
            <i class="bi bi-google" style="font-size: 2rem; color: #DB4437;"></i> 
          <% end%>
          <%= button_to(user_github_omniauth_authorize_path) do %>
            <i class="bi bi-github" style="font-size: 2rem; color: #000000;"></i> 
          <% end%>
        </div>
      
    </div>
  </div>
</div>